{% extends "dsb_alumno.html" %}
{% block content %}
<div class="d-flex" id="wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis" href="{% url 'dashboard' %}">
                        <i class="material-icons">home</i>
                        <span class="visually-hidden"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'materias' %}">Materia</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Crear materia
                </li>
            </ol>
        </nav>
        
        <div class="row align-items-md-stretch">
            <div class="col-md-6 w-100">
                <div class="m-4 text-center">
                    <h1 class="texto-azul-oscuro">Materias Creadas</h1>
                </div>
                <div class="p-5 text-bg-dark rounded-3 text-center">
                    <table class="small table accordion table-bordered rounded">
                        <thead class="text-white text-center" style="background:#274386">
                            <tr class="align-middle">
                                <th class="fz-1">Nombre de la Materia</th>
                                <th class="fz-1">Estado</th>
                                <th class="fz-1">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="fs-6s">
                            {% for materias in datosMaterias %}
                            <tr>
                                <td>{{ materias.nombre_materias }}</td>
                                <td>{{ materias.estado}}</td>
                                <td>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="eliminar" value="{{ materias.id }}">
                                        <button class="btn btn" type="submit">
                                            <i>
                                                <span class="material-icons">delete</span>
                                            </i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="p-2">
                        <button class="w-100 boton-guayaquil" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                            Crear
                        </button>
                    </div>
                    {% if msg %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                    </div>
                    {% endif %}
                    {% if msg1 %}
                    <div class="alert alert-success" role="alert">
                        {{ msg1 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>

        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            <div>
                                <div class="form-control p-3">
                                    <label>Nombre de la Materia <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control rounded-3" name="nombre_materias" placeholder="Ingrese el Nombre de la Materia" required><br>
                                    </select><br>
                                    <button class="boton-guayaquil w-100" name="crear" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}